@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

input {
  outline: none;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

/* LOGO */


/* HEADER */
.header {
  width: 1200px;
  height: 70px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.navigation {
  margin: 0 auto;
  width: 1060px;
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  width: 515px;
  display: flex;
  justify-content: space-around;
}

.navigation-user {
  display: flex;
  justify-content: space-around;
  width: 265px;
  margin-left: auto;
}

.navigation__link {
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.navigation__item {
  display: flex;
  align-items: center;
}

.navigation__button {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  padding: 9px 30px 8px;
  background-color: #756257;
  text-decoration: none;
  border-radius: 4px;
}

/* MAIN */
.main {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* DESCRIPTION */
.main-logo {
  background-image: url("../img/index-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  margin: 0 auto;
  height: 485px;
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  margin: 0 auto;

}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 36px;
  background-color: white;
}

.description__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  width: 700px;
  text-align: center;
  padding-top: 63px;
}

.description__causes {
  font-size: 22px;
  width: 700px;
  text-align: center;
  padding-bottom: 80px;
}

/* CAUSE */
.cause {
  width: 400px;
  height: 384px;
  background-color: #83B3D3;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 97px 0px 87px 0px;
}

.cause-1 {
  display: flex;
  flex-direction: row;
}

.cause-2 {
  display: flex;
  flex-direction: row;
}

.cause__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.cause__title--other {
  color: black;
}

.cause__item {
  width: 400px;
  height: 384px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 98px 0px 108px 0px;
}

.cause-list {
  display: flex;
  flex-direction: row;
}

.cause__number {
  font-size: 18px;
  line-height: 21px;
}

.cause__description {
  font-size: 18px;
  line-height: 21px;
  width: 250px;
}

.cause--1-2 {
  color: white;
}

.cause--3-5 {
  background-color: #83B3D31F;
}

.cause--4 {
  background-color: #83B3D333;
}

/* ADVANTAGES */
.advantages {
  background-color: white;
  display: flex;
  flex-direction: row;
}

.advantages__item {
  text-align: center;
  width: 400px;
  height: 384px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.advantages__title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages__item--1-3 {
  background-color: #83B3D31F;
}

.advantages__description {
  width: 250px;
  line-height: 21px;
}

/* HOTEL */
.hotel {}

.hotel__content {
  text-align: center;
  background-color: white;
  height: 417px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hotel__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0px;
}

.hotel__description {
  font-size: 22px;
  line-height: 26px;
}

.hotel__link {
  background-color: #756257;
  padding: 15px 150px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

/* MAILING */
.mailing {
  background-image: url("../img/mailing-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.mailing--catalog{
  background-image: none;
  background-color: white;
}
.mailing__content--catalog{
  color: black !important;
}
.mailing__btn--catalog{
  color: black;
}
.mailing__email--catalog{
  background-color: #E6E6E6;
}
.mailing__email::placeholder{
  color: black;
}
.mailing__email {
  border-radius: 10px 0px 0px 10px;
  font-size: 18px;
  line-height: 26px;
  border: none;
  width: 600px;
  height: 60px;
  padding: 0 22px 0 19px;
}

.mailing__btn {
  border-radius: 0 10px 10px 0;
  background-color: #83B3D3;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  width: 200px;
  height: 60px;
  text-transform: uppercase;
}

.mailing__form {
  display: flex;
}

.mailing__title {
  margin-top: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.mailing__description {
  font-size: 22px;
  padding-bottom: 46px;
}

.mailing__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 411px;
  color: white;
}

/* FOOTER */
.footer {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.footer__content {
  margin: 0 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.social {
  display: flex;
  flex-direction: row;
  width: 170px;
  justify-content: space-between;
}

.contact-phone {
  color: black;
  font-size: 40px;
  line-height: 40px;
}

/*  */
















/*PAGE   CATALOG */
.catalog {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.catalog-header {
  background-image: url("../img/header-catalog-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
  height: 408px;
  padding: 50px 71px 83px;
  margin: 0 auto;
}

.catalog-header__title {
  font-size: 60px;
  line-height: 77.64px;
  margin-top: 0;
}

/* BREADCRUMBS */
.breadcrumbs {
  display: flex;

}

.breadcrumbs-next {
  opacity: 50%;
}

.breadcrumbs__link {
  color: white;
  font-size: 16px;
  line-height: 20.7px;
}

.breadcrumbs__item {
  margin-right: 10px;
}

/* POLZUNOK */
.polzunok-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 25.88px;
  margin: 0;
  margin-top: 30px;
}

.polzunok-input-cont {
  display: flex;
  margin-top: 34px;
}

.polzunok-input--style {
  background-color: transparent;
  padding: 12px 19px 12px 13px;
  text-align: right;
  width: 143px;
  border: 2px solid white;
  font-size: 18px;
  line-height: 23px;
  color: white;

}

.polzunok-input__left {
  border-radius: 4px 0px 0px 4px;
  border-width: 2px 1px 2px 2px;
}

.polzunok-input__right {
  border-radius: 0px 4px 4px 0px;
  border-width: 2px 2px 2px 1px;
}

/* PLACE HOLDER STYLE */
::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 0.3;
  font-size: 18px;
  line-height: 23px;
}

::-moz-placeholder {
  color: #FFFFFF;
  opacity: 0.3;
  font-size: 18px;
  line-height: 23px;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #FFFFFF;
  opacity: 0.3;
  font-size: 18px;
  line-height: 23px;
}

/* CATALOG FILTER */
.catalog-filter-home {
  display: flex;
  
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25.88px;
}

.catalog-filter__field {
  border: none;
  height: 151px;
  display: flex;
  align-items: flex-end;
  margin-top: 30px;
  width: 170px;
}

.catalog-filter-btns {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.catalog-filter-btn {
  font-weight: 700;
  background-color: #83B3D3;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  line-height: 20.7px;
  padding: 12px 35px;
}

.catalog-filter-btn--reset {
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.29px;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95px;
}

/* HOSTEL ROLL */
.hostel-cont{
  background-color: white;
}
.hostel-roll{
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 18px 10px;
  grid-template-rows: 438px 438px;
  padding: 53px 72px 34px;
}
.hostel-roll-filter {
  padding: 42px 72px 53px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.hostel-roll-filter__view {
  display: flex;
  justify-content: space-between;
  width: 160px;
}
.hostel-filter-btn{
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 4px;
}
.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23.29px;
  padding: 12px 20px;
  margin-left: 193px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  width: 278px;
  height: 47px;
}

.hostel-number {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 38.82px;
  margin: 0;
}
.hostel-card{
  padding: 20px 20px 30px;
  margin: 0;
}
.hostel-card-link {
  color: black;
}

.hostel-info__extra {
  color: black;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  background-color: #756257;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 10px 20px;
  color: white;
}
.hostel-info{
  display: flex;
  flex-direction: column;
}
.hostel-card-rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating__number{
  text-transform: uppercase;
  padding: 10px 30px;
  background-color: #E6E6E6;
  border-radius: 4px;
}
.hostel-buy{
  display: flex;
  flex-direction: column;
}
.hostel-buy__favorite{
  border: none;
  font-size: 16px;
  font-weight: 700;
  padding: 9px 20px 10px;
  line-height: 21px;
  text-transform: uppercase;
  color: white;
  background-color: #83B3D3;
  border-radius: 4px;
}
.hostel-extra{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hostel-rating__number {
  background-color: #F2F2F2;
  text-transform: uppercase;
}


.hostel-roll-more {
  font-size: 20px;
  line-height: 25.88px;
  font-weight: 700;
  color: white;
  background-color: #83B3D3;
  border-radius: 4px;
  border: none;
  padding: 17px 0;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 620px;
}

.hostel-more-cont {
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  display: flex;
  justify-content: center;
  margin: 0 72px;
}
.other-rolls{
  padding: 30px 0 73px;
  display: flex;
  justify-content:space-between;
  margin: 0 72px;
}
/* PAGINATION */
.pagination{
  display: flex;
  width: 370px;
  justify-content: space-between;
}
.pagination-item{
  width: 55px;
  height: 55px;
  background-color: #83B3D3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.pagination-link {
  color: white;
  font-size: 20px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: black;
}
.pagination-current--text{
  color: black;
}
.control-hostel-select {
  border-radius: 4px;
  border: 2px solid #E6E6E6;
  font-size: 18px;
  padding: 10px;
  width: 160px;
}
.hostel-select-cont{
  display: flex;
  justify-content: space-between;
  width: 385px;
}
.hostel-select-title{
  font-size: 18px;
  line-height: 23,29px;
  color: black;
}
